$flow-grid-dot-color: #dadcdf;
.#{$ns}flow {
  height: 100%;
  overflow: hidden;
  user-select: none;
  .#{$ns}stage {
    height: 100%;
    width: 100%;
    .#{$ns}dot {
      stroke: $flow-grid-dot-color;
      fill: none;
      stroke-width: 1;
    }
  }
  .#{$ns}line {
    fill: none;
    stroke: #8f9eb3;
    stroke-width: 2;
    &:hover, &.#{ns}active {
      stroke: #89ce45;
      stroke-width: 3;
    }
    &.#{$ns}flow-preset {
      stroke-dasharray: 7;
      stroke: #89ce45;
      pointer-events: none;
    }
  }
  &-step {
    fill:rgba(white,0);
    stroke: #6c79a2;
    stroke-width: 2;
    cursor: pointer;
  }
  &-item {
    .#{$ns}text {
      fill: #6f7479;
    }
    .#{$ns}icon {
      width: 40px;
      height: 40px;
    }
    &.#{$ns}active, &:hover {
      .#{$ns}text {
        fill: #89ce45;
      }
      .#{$ns}flow-step {
        stroke: #89ce45;
        stroke-width: 3;
      }
      .#{ns}icon {

      }
    }
    &.#{$ns}flow-preset {
      .#{$ns}flow-step {
        stroke-dasharray: 7;
        stroke: #89ce45;
        pointer-events: none;
      }
    }
  }

  .#{$ns}grid-cell {
    stroke: #dadcdf;
  }

}
